<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
    <key>one</key>
    <string>one.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>uni0000</key>
    <string>uni0000.glif</string>
    <key>uni25CC_DOTTED_CIRCLE</key>
    <string>uni25C_C__D_O_T_T_E_D__C_I_R_C_L_E_.glif</string>
    <key>exclam</key>
    <string>exclam.glif</string>
    <key>exclamdown</key>
    <string>exclamdown.glif</string>
    <key>questiondown</key>
    <string>questiondown.glif</string>
    <key>question</key>
    <string>question.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>quotedblleft</key>
    <string>quotedblleft.glif</string>
    <key>quotedblright</key>
    <string>quotedblright.glif</string>
    <key>guillemotleft</key>
    <string>guillemotleft.glif</string>
    <key>guillemotright</key>
    <string>guillemotright.glif</string>
    <key>plus</key>
    <string>plus.glif</string>
    <key>hyphen</key>
    <string>hyphen.glif</string>
    <key>multiply</key>
    <string>multiply.glif</string>
    <key>degree</key>
    <string>degree.glif</string>
    <key>aa.base</key>
    <string>aa.base.glif</string>
    <key>ee.base</key>
    <string>ee.base.glif</string>
    <key>ii.base</key>
    <string>ii.base.glif</string>
    <key>oo.base</key>
    <string>oo.base.glif</string>
    <key>ee.vs</key>
    <string>ee.vs.glif</string>
    <key>ii.vs</key>
    <string>ii.vs.glif</string>
    <key>oo.vs</key>
    <string>oo.vs.glif</string>
    <key>uu.vs</key>
    <string>uu.vs.glif</string>
    <key>ia.vs</key>
    <string>ia.vs.glif</string>
    <key>ai.vs</key>
    <string>ai.vs.glif</string>
    <key>oa.vs</key>
    <string>oa.vs.glif</string>
    <key>eo.vs</key>
    <string>eo.vs.glif</string>
    <key>ei.vs</key>
    <string>ei.vs.glif</string>
    <key>subjoiner_symbol</key>
    <string>subjoiner_symbol.glif</string>
    <key>place.sign</key>
    <string>place.sign.glif</string>
    <key>name.sign</key>
    <string>name.sign.glif</string>
    <key>diety.sign</key>
    <string>diety.sign.glif</string>
    <key>ma</key>
    <string>ma.glif</string>
    <key>ma.sub</key>
    <string>ma.sub.glif</string>
    <key>na</key>
    <string>na.glif</string>
    <key>pa</key>
    <string>pa.glif</string>
    <key>ta</key>
    <string>ta.glif</string>
    <key>ca</key>
    <string>ca.glif</string>
    <key>cua</key>
    <string>cua.glif</string>
    <key>tza</key>
    <string>tza.glif</string>
    <key>tla</key>
    <string>tla.glif</string>
    <key>na.sub</key>
    <string>na.sub.glif</string>
    <key>pa.sub</key>
    <string>pa.sub.glif</string>
    <key>ta.sub</key>
    <string>ta.sub.glif</string>
    <key>ca.sub</key>
    <string>ca.sub.glif</string>
    <key>cua.sub</key>
    <string>cua.sub.glif</string>
    <key>tza.sub</key>
    <string>tza.sub.glif</string>
    <key>tla.sub</key>
    <string>tla.sub.glif</string>
    <key>cha</key>
    <string>cha.glif</string>
    <key>sa</key>
    <string>sa.glif</string>
    <key>xa</key>
    <string>xa.glif</string>
    <key>ha</key>
    <string>ha.glif</string>
    <key>la</key>
    <string>la.glif</string>
    <key>ya</key>
    <string>ya.glif</string>
    <key>wa</key>
    <string>wa.glif</string>
    <key>cha.sub</key>
    <string>cha.sub.glif</string>
    <key>sa.sub</key>
    <string>sa.sub.glif</string>
    <key>xa.sub</key>
    <string>xa.sub.glif</string>
    <key>ha.sub</key>
    <string>ha.sub.glif</string>
    <key>la.sub</key>
    <string>la.sub.glif</string>
    <key>ya.sub</key>
    <string>ya.sub.glif</string>
    <key>wa.sub</key>
    <string>wa.sub.glif</string>
    <key>nya</key>
    <string>nya.glif</string>
    <key>bva</key>
    <string>bva.glif</string>
    <key>da</key>
    <string>da.glif</string>
    <key>ga</key>
    <string>ga.glif</string>
    <key>fa</key>
    <string>fa.glif</string>
    <key>ra</key>
    <string>ra.glif</string>
    <key>rra</key>
    <string>rra.glif</string>
    <key>nya.sub</key>
    <string>nya.sub.glif</string>
    <key>bva.sub</key>
    <string>bva.sub.glif</string>
    <key>da.sub</key>
    <string>da.sub.glif</string>
    <key>ga.sub</key>
    <string>ga.sub.glif</string>
    <key>fa.sub</key>
    <string>fa.sub.glif</string>
    <key>ra.sub</key>
    <string>ra.sub.glif</string>
    <key>rra.sub</key>
    <string>rra.sub.glif</string>
    <key>x</key>
    <string>x.glif</string>
    <key>period</key>
    <string>period.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>uu.base</key>
    <string>uu.base.glif</string>
    <key>aa.vs</key>
    <string>aa.vs.glif</string>
  </dict>
</plist>
